.banner{
  margin-top: -10hv;
  height:80vh;
  margin-bottom: -10px;
  color:white;  
  object-fit: contain;
}
.banner-contents{
    margin-left: 50px;
    padding-top: px;
    position: absolute;
    top: 40%;
    color: white;
    z-index: 2;
    
}
.banner-title{
    font-size: 3rem;
    font-weight: 800;
    padding-top: 0.3rem;
}
.banner-description{
    width:45rem;
    line-height: 1;
    padding:1rem 0;
    font-size: 1rem;
    max-width: 360px;
    height:80px
}
.banner-buttons{
    cursor:pointer;
    color:#fff;
    outline:none;
    border:none;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 0.9vw;
    padding:1rem 3rem;
    margin-right: 2rem;
    background-color: rgba(51,51,51,0.5);
}
.play{
    color:#000;
    background-color: #fff;
}
.banner-buttons:hover{
    background-color:#6c6c6c;
    color: #000;
    transition:all 0.5;
}