*{
    margin:0;
    padding:0;
}
.outer-container{
    font-size: small;
    color:white;
    display:flex;
    background-color: rgb(20, 20, 20);
    height:8vh;
    position: sticky;
    z-index: 1;
    background: transparent;
}
.header-lists{
     width:90%;
    display:flex;
    justify-content: space-between;
    align-items: center;

}
.nav-lists {
    width:60%;
    list-style-type: none;
    display:flex;
    justify-content:space-between;
    
}
.second-nav{
    width:20%;
     list-style-type: none;
    display:flex;
    justify-content:space-between;
    
}
