.outer-container-footer{
    height:60vh;
    width:80%;
    margin:0 auto;
}
.all-divs{
    display:flex;
    justify-content: space-between;
}
.all-divs ul{
    list-style-type: none;
}
.icons{
    width:30%;
    margin:15px;
}
.icons ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.lists ul li{
    gap: 10px;
    margin-bottom:10px;
    cursor: pointer;
}
.service-code{
    border:1px solid white;
    margin: 15px;
    padding:5px;
    width:100px;
}
@media screen and (max-width: 768px){
    .all-divs{
        display: block;
    }
    .outer-container-footer{
        margin-top: -40px;
    }
}